/* Min Width Media Queries */
@media (min-width: 1400px){
	.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
	    max-width: 1260px;
	}
	.services-right-main .services-right-main-inner{left: 200px;}

	.hiringprocess-column .hiringprocess-bottomrow{margin-top: -2px;}
	.hiringprocess-column .hiringprocess-bottomrow:before{top: -18px;}
	.hiringprocess-column .hiringprocess-bottomrow:after{top: -23px;}
	.hiringprocess-column .hiringprocess-bottomrow .svg{    margin-top: -22px;}
	.hiringprocess-column .hiringprocess-bottomrow .hiringprocessbottomrow-box{top: 127px;}

	.singleblog-quote h2 {font-size: 34px;}
	.hireinner-androidbanner .banner-righttop .android-box:before{left: -32px;}
}
@media screen and (min-width: 1200px) {

}


/* Max Width Media Queries */
@media screen and (max-width: 1400px) {
	h1,.h1 {font-size:47px;} 
	h2,.h2 {font-size:35px;} 
	h3,.h3 {font-size:21px;} 
	h4,.h4 {font-size:20px;} 
	h5,.h5 {font-size:17px;}

	.homebanner .bannerright img.manimg{left: -65px;}
	.homebanner .bannerright .bannergirl1{right: 0; width: 120px; height: 116px;} 
	.homebanner .bannerright .bannergirl1 img {width: 100%;}
	.homebanner .bannerright .round{    width: 340px;height: 340px;}
	.homebanner .bannerright .bannertxtx { left: 6%;}
	.homebanner .bannerright .bannerthumb{    top: 37%;right: 20px;}
	.homebanner .bannerright .bannerthumb img {width: 45px;}
	.hiringboxwrapper{width: 320px;right: -30px;}
	.hiringboxwrapper .hiringboxwrap .hiringbox { padding: 16px 10px;}
	.btn {font-size:16px; padding:11px 40px;}

	.bannercompanylogo .trust h2{font-size: 16px;}
	p{font-size: 15px;line-height: 24px;}
	.whychoose-levelup .head p{font-size: 15px;line-height: 24px;}

	.clientnumber-box span.count.percent{font-size: 75px;}

	.hireremotedev-left .hireremotedev-img2 {right: 5%; } 
	.hireremotedev-left .hireremotedev-img1 img {} 
	.hireremotedev-left .hireremotedev-img3 {right: 1%; } 

	.testimonial-box .testimonial-txt p {padding-right: 20px;}
	.aboutlevelup .aboutlevelup-left {padding-right: 20px; }
	.contactus .contact-left .round.rounded-circle {width: 280px; height: 280px; }
	.contactus:before{width: 540px;}

	ul.bullet li{font-size: 24px;}
	ul.bullet li:before{top: 5px; width: 19px; height: 19px;}
	.empower-business p, .whoweare .whoweare-box p{font-size: 18px;line-height: 34px;}

	.level-help .levelhelp-logo img {width: 140px; }
	
	.level-help .levelhelp-txt h2 {font-size: 50px;    line-height: 65px;}
	.buildnow-sec .buildnow-txt h4 {font-size: 20px;}

	.innerpagebanner.careers-singlebanner .hiringboxwrap .hiringbox .hiringbox-txt p {font-size: 16px; } 
	.innerpagebanner.careers-singlebanner .hiringboxwrap .hiringbox .hiringbox-txt h5 {font-size: 18px; }
	.innerpagebanner.careers-singlebanner .hiringboxwrap .innerpage-rightbox-btn a.btn.common_btn.yellow {
    padding: 12px 23px;}
    .innerpagebanner.careers-singlebanner .hiringboxwrap .hiringbox {padding-bottom: 18px;margin-bottom: 18px;}

     .otherservices-sec .otherservices-box{padding: 40px;}
     .otherservices-sec .otherservices-box a.btn.common_btn { font-size: 15px;}

     .careers-jobs .careers-head p {font-size: 18px; line-height: 28px; } 
     .single-servicedescription .aboutlefttext {margin-right: 60px; }
     .careers-jobs .careers-head {width: 100% !important;}
     .weprovideul ul.listul li{font-size: 22px;padding-left: 42px;}

     .btn{padding: 11px 40px;}

     .blog-box .blog-boxtxt h4{font-size: 20px;line-height: 1.5;}
     .blog-box .blog-boxtxt span{font-size: 17px;}
     .blog-pagination { margin-top: 40px; }

     .singleblog-txt h3{font-size: 23px;}
     .singleblog-txt p {font-size: 17px;line-height: 2;}

     .singleblog-quote h2 {font-size: 30px;}
     .blog-container{padding: 60px;}

     .singleblog-box.innerpagebanner.careers-singlebanner h2 {font-size: 32px; }

     .casestudies-bannersec .casebanner-right .casebanner-top{ height: 41%;}
     .casestudies-bannersec .casebanner-right h3{ margin-bottom: 35px;}
     .casestudies-bannersec .casebanner-right .casebanner-bottom{height: 55%;}
     .casestudies-bannersec .casebanner-right h3 {font-size: 25px;}
     .development-offersec .head p, .andoidapp-dev-process .recent-head p {font-size: 18px;}
}

@media screen and (max-width: 1280px) {
	header .navbar-light .navbar-brand {margin-right: 10px; } 
	h1,.h1 {font-size:45px;} 
	h2,.h2 {font-size:32px;} 
	h3,.h3 {font-size:18px;} 
	h4,.h4 {font-size:17px;} 
	h5,.h5 {font-size:16px;}
	p{font-size: 14px;line-height: 21px;}
	.whychoose-levelup .head p{font-size: 14px;line-height: 21px;}

	.hiringboxwrapper{bottom: 0;}

	.technologies-logo{padding: 15px;}
	
	.trustlogo ul.d-flex img {width: 110px;height: auto;}
	.bannercompanylogo .trust h2 {font-size: 14px;}
	.bannercompanylogo .trust i{font-size: 20px;    width: 45px;height: 45px;}

	.hireremotedev-left .hireremotedev-img2{right: 0;}
	.hireremotedev-left .hireremotedev-img3 {right: 0;}
	.hireremotedev-left .hireremotedev-img3 img{    width: 158px}
	.hireremotedev-left .hiringboxwrapper{bottom: -35%;}
	.hireremotedeveloper {padding-bottom: 120px;}
	.copyright .copyright-left ul li{margin-right: 19px;}
	.copyright .copyright-left ul li:after{right: -14px;}
	.hiringboxwrapper{right: 0;}

	.hireremotedev-left .hireremotedev-img1 img{height: 580px;}

	.testimonial-box .testimonial-txt p {padding-right: 0px;}
	.aboutlevelup .aboutlevelup-left {padding-right: 0px; }
	.contactus .contact-left .round.rounded-circle {width: 250px; height: 250px; }

	footer.footercls .footer-left p {padding-right: 20px; }

	.buildnow-sec .buildnow-txt {width: 100%;}
	.level-help .levelhelp-txt {width: 100%;} 
	.innerpage-rightbox{padding: 25px;}
	.innerpage-rightbox .head h2{font-size: 28px;}
	.innerpage-rightbox .clientnumber-box span.percent{font-size: 45px;width: 50px;}
	.innerpage-rightbox .clientnumber-box h6{width: calc(100% - 50px);}
	.careers-head h2 {font-size: 45px;}
	.careers-jobs {padding-top: 10px;}

	.otherservices-sec .otherservices-box{padding: 30px;}
	.otherservices-sec .otherservices-box a.btn.common_btn {font-size: 13px;padding: 13px 30px;}

	.hire-box h4{height: 50px;}
	.hiringprocess-column .hiringprocess-bottomrow{margin-top: -33px;}
	.hiringprocess-column .hiringprocess-bottomrow:before{top: 12px;}
	.hiringprocess-column .hiringprocess-bottomrow:after{top: 10px;}
	.hiringprocess-column .hiringprocess-bottomrow .hiringprocessbottomrow-box{top: 100px;}
	.levelhelp-box {width: 100%;}
	.careers-jobs .careers-head p, .why-join .whyjoin-head p {font-size: 16px; line-height: 28px;} 
	.innerpagebanner.hirepagebanner .hiringboxwrapper.innerpage-hiring .hiringboxwrap .hiringbox .hiringbox-txt p {font-size: 20px; }
	.single-servicedescription .aboutlefttext {margin-right: 0px; }
	.innerpagebanner.careers-singlebanner .hiringboxwrap .innerpage-rightbox-btn a.refer{font-size: 12px;}
	.innerpagebanner.careers-singlebanner .hiringboxwrap .hiringbox .hiringbox-txt h5 {
    font-size: 18px;}
    .hiring-process h5{font-size: 16px;}
    .hiring-process .hireimg {height: 66px;width: 65px;}

    .blog-container{padding: 50px;}
    .singleblog-txt p {font-size: 15px;line-height: 24px;}
    .solutionspage-sec.development-offersec .industry-details p{font-size: 16px;line-height: 24px;}

    .singleblog-quote h2 {font-size: 25px;}
     .singleblog-box.innerpagebanner.careers-singlebanner h2 {font-size: 30px; }
     .innerpagebanner:after{right: 0;}

     .andoidapp-dev-process .dev-box{padding: 25px;}
}
@media screen and (max-width: 1180px) {
	.homebanner .bannerright .round {width: 270px;height: 270px;}
	footer.footercls .footer-left p {padding-right: 0px; }

	.clientnumber-box span.count.percent { padding-right: 15px;font-size: 70px;}

	.trustlogo-slider .swiper-button{display: flex; width: 36px; height: 36px; background: #64e3ed; 
		border-radius: 50%; justify-content: center; align-items: center;top: 55%;} 
	.trustlogo-slider .swiper-button:after {color: #000;font-size: 16px;}
	.trustlogo-slider {padding: 0 45px;}
	.trustlogo-slider .swiper-button.swiper-button-prev {left: 0;}
	.trustlogo-slider .swiper-button.swiper-button-next {right: 0;}
	.clientnumber-box span.count.percent{width: 90px;}

	ul.navbar-nav li.nav-item{    margin: 0 0px 0 0px;}
	header .nav-link, .navbar-light .navbar-nav .nav-link{font-size: 15px;}
	.right-menu a.btn.btn-primary {padding: 12px 19px;font-size: 15px;}

	.servicelistsec-five .servicelist-img img{width: 110px;margin: 10px;}
	.servicedescription.single-servicedescription .servicedes-txt p, .level-help p, .empower-business p, .whoweare .whoweare-box p, .blogdescription .blog-txt p {font-size: 16px;line-height: 31px;}
	.level-help .levelhelp-txt h2 {font-size: 45px;}
	.whoweare .whoweare-box {padding: 50px;}
	.timeline-leftbox .timeline-box{    padding-right: 0;}
	.timeline-rightbox .timeline-box{padding-left: 20px;}

	.buildnow-sec .buildnow-txt h4 {font-size: 18px;}
	.innerpagebanner.hirepagebanner .hiringboxwrapper.innerpage-hiring .hiringboxwrap .hiringbox .hiringbox-txt p {font-size: 18px; }


	.blog-box .blog-boximg img{height: 220px;}
	.blog-box .blog-boxtxt h4 {font-size: 20px;}
	.singleblog-box.innerpagebanner.careers-singlebanner h2 {font-size: 28px; }
	.solution-txt h2{font-size: 40px;}

	.casestudies-bannersec .casebanner-right h3{ font-size: 20px;}
	.casestudies-bannersec .casebanner-right .casebanner-top{padding: 20px;height: 38%;}
	.casestudies-bannersec .casebanner-right .casebanner-bottom{ height: 58%;}
	.casestudies-bannersec .casebanner-right .casebanner-bottom h3{margin-bottom: 0; }
	.casestudies-bannersec .casebanner-right .casebanner-bottom ul, .casestudies-bannersec .casebanner-right .casebanner-bottom h3{padding: 15px 15px;}
	.casestudies-txt h2{font-size: 44px;}
	.project-briefsec .row .servicelist-txt p {font-size: 16px;line-height: 28px;}
	.project-briefsec .row .servicelist-txt h2{margin-bottom: 25px;}


	.casestudies-bannersec .casebanner-right .casebanner-bottom ul li{ margin: 9px 0;}
	.hireinner-androidbanner .banner-righttop .android-box:before{left: -60px;}

	.solutionspage-sec.development-offersec ul.nav.nav-tabs{width: 100%;}
	.andoidapp-dev-process .recent-head p{line-height: normal;}
}
@media screen and (max-width: 1000px) {
	.navbar-collapse{background: #f6f6f6;padding: 30px 25px;position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    height: 100vh;
    transform: translate(100%, 0%);
    transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;    overflow: auto;}
    nav.navbar.navbar-expand-lg{ padding: 15px 0;}
    .navbar-collapse.show {transform: translate(0%, 0%);}
    .navbar-collapse ul.navbar-nav {padding-top: 50px;margin-bottom: 0 !important;}
    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {position: absolute;  right: 20px;}
    .navbar-light .navbar-toggler{padding-bottom: 0;}
    header.headercls.fixed nav.navbar.navbar-expand-lg.navbar-light{    /*position: unset;*/}
    .navbar-collapse .right-menu a.nav-link {width: 100%;margin-bottom: 10px;}
    .homebanner{padding: 15% 0 0;}
    .homebanner .row {flex-direction: column-reverse;}
    .levelwork .col-sm-12{margin: 10px 0;}
    .homebanner p{width: 100%;}
    .clientnumber-box {float: left;width: 50%;margin-top: 35px;margin-bottom: 0 !important;}
    .hireremotedev-right {padding-top: 35%;}
    .hireremotedeveloper {padding-bottom: 70px;}
    .headercls ul.navbar-nav li.nav-item.dropdown ul { width: 100%;position: absolute;
    	visibility: hidden;opacity: 0;transition: none;z-index: 9;border-radius: 10px;}
    .headercls ul.navbar-nav li.nav-item.dropdown:hover ul {display: none;}
    body.menu-open {overflow: hidden;height: 100vh !important;position: relative;}
    body.menu-open:before {content: ''; background: rgb(0 0 0 / 52%); width: 100%; 
    height: 100%; position: absolute; left: 0; top: 0; z-index: 999; }
    body.menu-open header .navbar-light .navbar-brand {opacity: 0.4;transition: none;}
    .headercls ul.navbar-nav li.nav-item.dropdown.active ul.submenu-menu {    opacity: 1;
    visibility: visible;position: unset;}
    .headercls ul.navbar-nav li.nav-item.dropdown.active ul.submenu-menu {display: block !important;
    	transition: none;}
    .headercls ul.navbar-nav li.nav-item.dropdown::after {transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;-moz-transition: all ease 0.4s;-o-transition: all ease 0.4s;}
    .headercls ul.navbar-nav li.nav-item.dropdown.active::after {transform: rotate(180deg);}


    .testimonial-roundwrap img.client-2{right: 30px;}
    .testimonial-roundwrap{    width: 365px;height: 365px;}
    .industry-links ul.col {flex: 0 0 auto;width: 33.3333333333%;}

    .contactus .contact-right {padding-top: 50px;}
    .toplinks-box {margin-bottom: 20px;}
    footer.footercls .footer-left, footer.footercls .footer-center {margin-bottom: 30px;}

    .bannercompanylogo .trust{padding-top: 50px;justify-content: center;}
    section {padding: 60px 0;}
    .trustlogo ul.d-flex{justify-content: center; flex-wrap: wrap;}
    .levelwork .card .card-txt{padding-right: 0;}

    .homebanner .bannerright .round {width: 440px;height: 440px;}
    .homebanner .bannerright .bannergirl1{top: 13%;}
    .homebanner .bannerleft {padding-top: 50px;}
    .hireremotedev-left .hireremotedev-img1 img {width: 75%;} 
    .technologies .head p {width: 100% !important;}

    h1,.h1 {font-size:43px;} 
	h2,.h2 {font-size:29px;}
	.bannerleft h1 br{/*display: none;*/}

	.hireremotedev-left .hireremotedev-img1 img{height: 590px;object-fit: cover;}

	.testimonial-box .testimonial-img img {width: 55px;}
	.row.toplinksrow.d-sm-none.d-md-none {display: none;}
	.toplinksrow{padding: 30px 10px;}

	.copyright .copyright-left ul li:after{right: -12px;font-size: 13px;top: 3px;}

	.navbar-collapse .right-menu {margin-top: 15px;}
	.navbar-collapse .right-menu a.btn.btn-primary {position: relative;margin-left: 0 !important;
	width: 100%;}


	.innerpagebanner{padding: 150px 0;}
	.servicelistsec .servicelist-txt {padding: 25px 15px;}
	.servicelist-row, .servicelist-column {    padding: 40px;}
	.servicelist-column{margin-bottom: 25px;}
	.servicelistsec .servicelist-wrapimg{height: auto;margin-top: 15px;}
	.servicelistsec .servicelist-wrapimg .servicelist-img img{ position: unset; right: 0; top: 0px;
		transform: none !important;width: 100%;}
	.innerpagebanner:after{width: 380px;    height: 440px;right: 0;}
	.servicelist-row .p-0 {padding: 0 15px;}
	.servicedescription .servicedes-txt {margin-right: 0;}
	.servicelistsec .servicelist-wrapimg .services-right-main {position: unset; 
		transform: none !important; padding: 0; height: auto; overflow: unset;display: none; } 
	.servicelistsec .servicelist-wrapimg .services-right-main .services-right-main-inner {
		transform: none; height: auto; position: unset; } 
	.servicelist-img.for-mobile{display: block;}

	.servicelist-row.servicelistsec-five {margin-top: 0px;}	
	header .navbar-light .navbar-brand img {opacity: 1; }
	.servicelistsec .servicelistsec-one, .servicelistsec .servicelistsec-two{padding: 0;}
	.toplinks-box .accordion-item .accordion-collapse .accordion-body {padding-top: 15px;}

	.empower-box .empower-img img {max-width: 100%;}
	.innerpage-rightbox{position: unset;margin-top: 25px;}
	.single-servicedescription .servicedes-txt{max-width: 100%;}
	.servicepage-counter .clientnumber-box{width: 100%;}

	.buildnow-sec .buildnow-row{padding: 30px;}
	.buildnow-sec .buildnow-txt {margin-top: 40px;}
	.servicedescription.single-servicedescription .servicedes-txt p, .level-help p, .empower-business p, .whoweare .whoweare-box p, .blogdescription .blog-txt p {font-size: 15px;line-height: 21px;}
	.buildnow-sec .buildnow-row .buildnow-txt h2{font-size: 29px;}
	ul.bullet li {font-size: 19px;margin-bottom: 25px;}

	.aboutbanner-right {position: unset;width: 50%;margin: 0 auto;margin-top: 15px;}
	.hiringboxwrapper.innerpage-hiring{    left: 0;}
	.level-help .levelhelp-txt h2 img.arrow{display: block;}
	.whoweare .whoweare-box{margin-bottom: 20px;}
	.aboutgallery-slider .col-xl-12.col-lg-12.col-md-12.col-sm-12 {padding: 0;}

	.history-timeline progress{top: 20px;}
	.careers-head h2 {    font-size: 35px;}
	.careers-head, .why-join .whyjoin-head {    width: 100% !important; }

	.hiringprocess-column .hiringprocess-bottomrow .svg{display: none;}
	.hiringprocess-column:before, .hiringprocess-column .hiringprocess-bottomrow:before, .hiringprocess-column .hiringprocess-bottomrow:after, .hiringprocess-box:after, .hiringprocess-column .hiringprocess-bottomrow .hiringprocessbottomrow-box:before{content: none;}
	.hiringprocess-column .hiringprocess-bottomrow .hiringprocessbottomrow-box{width: 100%;
    position: unset;}
    .hiringprocess-column .hiringprocess-bottomrow .hiringprocessbottomrow-box h5 {margin-top: 20px;}
    .hiringprocess-column {padding-bottom: 0;}

	.hiringprocess-box:before{margin-bottom: 10px;
    display: inline-block; content: none;position: unset;}
    .hire-container .col {padding: 5px 5px;}
    .hiring-process .hiringprocess-box{min-height: 210px;}
    .weprovideul ul.listul li {width: 100%;}	
    .careers-jobs .careers-head p, .why-join .whyjoin-head p {font-size: 14px;line-height: 21px;}
    .hiringprocess-column .hiringprocess-bottomrow{margin-top: 0;height: 170px;}
    .hiring-process .whyjoin-head{width: 100% !important;}
    .levelwork.levelworkhomepage {padding-top: 40px;}
    .navbar-light .navbar-nav .nav-link:after{content: none;}

    .careers-jobs {padding-top: 10px; }
    .faq-accordian .accordion-item .accordion-header button.accordion-button{line-height: normal;}
    #hiredescriptionid .container {padding: 0 10px; }

    .blog-container .row {flex-direction: column-reverse;}
    .blogdescription .blog-txt {padding-right: 0;margin-top: 35px;}

    .singleblog-quote{    padding: 40px;flex-direction: column-reverse;}
    .singleblog-quote i.fas.fa-quote-left{font-size: 90px;}
    .singleblog-quote-left {margin-top: 20px;}
    .singleblog-box.innerpagebanner.careers-singlebanner .banner-righttop{width: 100%;}


    .singleblog-quote-right img.quote {height: 100px;}
    .singleblog-box.innerpagebanner.careers-singlebanner h2 {font-size: 27px; }
    .recent-blog .blog-box {margin-bottom: 40px;}
    .homebanner:after{content: none;}

    .headercls nav.navbar.navbar-expand-lg ul.navbar-nav{margin: 0 0px 0 0!important;}
    .innerpagebanner .row {    margin: 0 auto;}
    .copyright.row {margin-top: 25px;padding-top: 15px;}
    .responsive-tabs {padding: 2rem 0;}
    .solutionspage-sec .nav-tabs .nav-link{font-size: 16px;}
    .responsive-tabs{padding: 2rem 0;}
    .solutionspage-sec .nav-tabs .nav-link{font-size: 16px;}

    .innerpagebanner.solutionsinnerbanner .trust-wrapdiv{ position: unset; margin-top: 15px;}
    .innerpagebanner.solutionsinnerbanner .trust-wrapdiv .trust {padding-top: 0;}
    .innerpagebanner .solution-banner {padding-right: 0px;}
    .solution-txt h2{ font-size: 32px;}
    .functionalities-row .functionalities-right {padding-left: 0;margin-top: 50px;}
    .functionalities-row .functionalities-right h2, .casestudies-txt h2{font-size: 32px;}
    .casestudies-txt{width: 100%;}
    .casestudies-txt p{font-size: 16px;line-height: 30px;}
    .whyjoin-box{margin-top: 20px;margin-bottom: 30px;}
    .casestudies-bannersec .casebanner-right .casebanner-top, .casestudies-bannersec .casebanner-right .casebanner-bottom {width: 100%; float: left; height: auto; margin-top: 20px; } 
    .casestudy-head .swiper-arrows{right: 0;}
    .snapshots-slider .casestudy-head{width: 100%;}
    .challanges-row ul.bullet li{font-size: 16px;line-height: 28px;}

    .hireinner-androidbanner .banner-righttop .android-box:before{left: 0;right: 0;z-index: 0;margin: 0 auto;}
    .hireinner-androidbanner .banner-righttop .android-box img, .hireinner-androidbanner .banner-righttop .android-box span{position: relative;}

    .full-width-counter .clientnumber-box{width: 100%;}
    .andoidapp-dev-process {padding-top: 50px;}
    .development-offersec .head p, .andoidapp-dev-process .recent-head p{font-size: 16px;}
    .full-width-counter .clientnumber-box span.count.percent{width: 130px;}
}
@media screen and (max-width: 767px) {
	h1,.h1 {font-size:40px;} 
	h2,.h2 {font-size:30px;} 
	h3,.h3 {font-size:20px;} 
	h4,.h4 {font-size:18px;}

	.industry-links ul.col {flex: 0 0 auto;width: 50%;}
	.contactus .contact-left .contact-after {top: 0;    right: 0;}
	.testimonial-right {margin-top: 50px;}
	.homepage .testimonial-right{display: none;}
	
	

	section {padding: 60px 0;}	
	.homebanner .bannerright .round {width: 320px;height: 320px;}

	.copyright .copyright-left ul {justify-content: center;}
	.copyright .copyright-right p{text-align: center;}
	
	.contact-mainimg img {width: 100%;}
	.contactus .contact-left .round.rounded-circle{width: 350px;height: 350px;}
	.homebanner .bannerright .bannertxtx{display: none;}
	.hiringboxwrapper, .hireremotedev-left .hiringboxwrapper {position: unset !important;width: 100%;}
	.hireremotedev-left .hiringboxwrapper .hiringboxwrap{position: unset;margin-top: 30px;}
	
	.hireremotedev-left .hireremotedev-img2, .hireremotedev-left .hireremotedev-img3 {display: none;}
	.hireremotedev-left .hireremotedev-img1 img {width: 100%;height: auto; transform: none !important; 
			opacity: 1 !important;}
	.hireremotedev-right { padding-top: 0px;padding-bottom: 20px;}
	.technologies .col-sm-6, .companylogos .col-sm-12 {flex: 0 0 auto;width: 50%;}
	.trustlogo ul li {flex: 0 0 auto;width: 30%;}
	.testimonial-roundwrap .testimonial-middlewrap img.quote-shape{width: 45px;}
	.testimonial-roundwrap img.client-5{bottom: 13%;left: 15%;}
	.testimonial-roundwrap img.client-6{    bottom: 15%;right: 8%;}
	.homebanner .bannerright .bannerman3{right: 0;}
	.testimonials {padding-bottom: 50px;}

	.bannercompanylogo {padding-top: 0;}
	.bannercompanylogo .trust{padding-top: 20px;}
	.homebanner{padding-bottom: 50px;}
	.toplinks {margin-top: 25px;}
	.hireremotedeveloper .row {flex-direction: column-reverse;}

	.loader{display: none !important;}
	.homepage header .navbar-light .navbar-brand img {opacity: 1;}
	footer.footercls .footer-left img{float: none;}
	footer.footercls .footer-left{text-align: center;}

	.servicelistsec-five .servicelist-img{margin-top: 20px;}
	.servicedescription{padding-bottom: 30px;}
	.servicelistsec .iconul{    margin-bottom: 0;}
	.servicelist-column {margin-bottom: 15px;}
	.servicelist-row.servicelistsec-five .servicelist-txt {padding: 0;}
	.servicelistsec .servicelist-wrapimg .servicelist-img img{ position: relative; right: 0; top: 160px;
		transform: scale(1.5) !important;width: 100%;}
	.servicelistsec .servicelist-txt{padding: 25px 15px 0;}
	.servicelistsec .servicelist-wrapimg{margin-top: 10px;}

	.clientnumber-box span.count.percent{width: 130px;}
	.servicepage-counter .clientnumber-box{    text-align: center;}
	.servicepage-counter .clientnumber-box span.count.percent{justify-content: center;width: 100%;}
	.servicepage-counter .clientnumber-box span.count:before{right: 0;left: auto;}
	ul.bullet li{font-size: 18px;}
	ul.bullet li:before{top: 3px;width: 17px;height: 17px;}
	.empower-business p{}
	
	.servicepage-counter .counter-column {width: 33.3333333333%;}
	.buildnow-sec .buildnow-row .buildnow-txt h2{font-size: 25px;}
	.level-help .levelhelp-txt h2 {font-size: 35px;line-height: normal;}

	.aboutbanner-right{width: 100%;}
	.hiringboxwrapper.innerpage-hiring{    margin-top: 15px;}

	.level-help .levelhelp-txt h2 img.arrow { width: 70px; }
	.level-help:before {top: 0;width: 380px;
    height: 400px;}
	.abouttestimonials-slider .testimonial-innerslider .testimonial-box{width: 100%;margin: 0 0 20px;}
	.abouttestimonials-slider .testimonial-left .swiper-pagination.swiper-pagination-bullets{ 
	 margin-top: 10px;}
	 .whoweare .whoweare-box {padding: 25px;}

	 .history-timeline progress{display:none;top: 0;margin: unset;left: -80%;width: 150%;}
	 .timeline-leftbox .timeline-box:after, .timeline-rightbox .timeline-box:after{left: -20px;
    	top: 6px;right: auto;}
	 .timeline-leftbox .timeline-box{padding-left: 20px;}
	 .timeline-row {margin-bottom: 20px !important;}
	 .history-timeline{overflow: unset;}
	 .whychoose-levelup .head {width: 100%;}

	 .innerpage-rightbox #innercounter .col-xl-6, .openings-topbar .openings-leftbar, .openings-topbar .openings-rightbar{    width: 50%;}
	 .current-openings h2{margin-bottom: 15px;}
	 .whyjoin-box {width: 100%;margin: 20px 0;}

	 .buildnow-sec .buildnow-txt h4 {font-size: 16px;}

	 .innerpagebanner.careers-singlebanner .hiringboxwrap .innerpage-rightbox-btn a.refer{margin-left: 6px;
    font-size: 15px;}
    .singlecareers-box{ margin-bottom: 0; }
    .singlecareers-form{padding: 25px;}
    .file-upload-wrapper:after{font-size: 14px;}

    .hire-developers .hire-topbar a.btn.common_btn {margin-top: 15px;}
    .hiringprocess-column .hiringprocess-bottomrow .hiringprocessbottomrow-box{width: 100%;position: unset;}
    .hiring-process .hiringprocess-box{min-height: auto;}
    .hiringprocess-column .hiringprocess-bottomrow .hiringprocessbottomrow-box h5 {
    margin-top: 20px;}
    .hiringprocess-column {padding-bottom: 0;}
    .hire-container{}
    .hiringprocess-column .hiringprocess-bottomrow {margin-top: 30px;height: auto;}
    .weprovideul ul.listul li{font-size: 19px;}
    .weprovideul ul.listul li::before {width: 18px;height: 18px;}
    .weprovide .whyjoin-head { margin-bottom: 0;}
    .faq-container{padding: 40px;}
    .why-join.whyjoinhire { padding-top: 50px; }
    .innerpagebanner.hirepagebanner .hiringboxwrapper.innerpage-hiring .hiringboxwrap .hiringbox .hiringbox-txt p { font-size: 16px; }
    .hire-box{ border-radius: 15px;}


    .blog-container{background: transparent;padding: 0 10px;}
    .singleblog-box.innerpagebanner.careers-singlebanner .banner-righttop{margin-bottom: 50px;}
    .singleblog-quote span{font-size: 16px;margin-bottom: 5px;}
    .row.single-blog-quote {margin: 0;}
    .single-blog-twobox{margin: 0 auto;}

    .single-blogcontent{padding-bottom: 20px;}
    .recent-blog{padding: 50px 0 20px;}
    .innerpagebanner:after {width: 300px;height: 380px;}
    .innerpagebanner.careers-singlebanner .hiringboxwrap .hiringbox .hiringbox-txt h5 {
    font-size: 18px;}
    .innerpagebanner.careers-singlebanner .hiringboxwrap .hiringbox .hiringbox-txt p {
    font-size: 14px;}
    .breadcrumb li{font-size: 13px;}
    .empower-business:before, .level-help:before{width: 360px;height: 380px;}

    .solution-services .container.hire-container .hire-box h4{    font-size: 18px;}
	.solution-services .container.hire-container .hire-box{padding: 30px 25px;}
	.responsive-tabs {padding: 2rem 0;}

	.responsive-tabs .tab-pane .card-header {padding: 0;}
	.responsive-tabs .tab-pane {margin-bottom: 15px;}
	.responsive-tabs .tab-pane .card-header a {width: 100%;padding: 15px;display: inline-block;color: #f15060;position: relative;background: #FFF;}
	.responsive-tabs .tab-pane .card-header a.collapsed {color: #000;}
	.responsive-tabs .tab-pane .card-header a:after {content: "\f078"; font-family: 'Font Awesome 5 Pro'; font-style: normal;position: absolute;right: 10px;transform: rotate(180deg);-webkit-transition: all ease 0.4s; 
	    -moz-transition:all ease 0.4s; -o-transition:all ease 0.4s;}
	.responsive-tabs .tab-pane .card-header a.collapsed:after {transform: none;}
	.responsive-tabs .tab-pane .card-body {padding: 40px;}
	.responsive-tabs .tab-pane .card-body .indusry-bigimg, .responsive-tabs .tab-pane .card-body .industry-smallimg {margin-top: 15px;}
	.solution-services .container.hire-container .row {margin: 0 auto;}


	.responsive-tabs .tab-pane .card-body .col-md-4 {padding: 0;}
	.responsive-tabs .tab-pane .card-body .col-md-4 .row .col-md-12 {padding: 0;}
	.responsive-tabs .tab-pane .d-mobile-none {display: none; }
	.solutionspage-sec .head {margin-bottom: 0;}
	.responsive-tabs .tab-pane .img-box, .responsive-tabs .tab-pane .img-box img {
    height: 320px;object-fit: fill;}

    .innerpagebanner.solutionsinnerbanner .trust-wrapdiv .trust {padding-top: 20px;}
    .levelwork.innersolution {padding-top: 60px;}
    .level-help .levelhelp-txt ul.bullet{margin-bottom: 50px;}
    
    .case-topbar{padding-bottom: 15px;}
    .case-topbar .casetopbar-right{padding-top: 5px;}
    .casestudieshealth:before{ width: 350px; height: 380px;bottom: 0; }
    .casestudies-bannersec{margin-top: 0;}
    .innerpagebanner.caseinnerpagebanner {height: auto;min-height: auto;padding: 120px 0 70px;}
    .challangessec {padding-top: 10px;padding-bottom: 40px;}
    .challanges-row .head h2 {margin-bottom: 20px;}
    .challanges-row .head {margin-bottom: 50px;}

    .full-width-counter .clientnumber-box span.count.percent{width: 100px;}
    .full-width-counter .col-xl-3 {width: 50%; }
    .andoidapp-dev-process .dev-box p{font-size: 15px;}
    .solutionspage-sec.development-offersec .industry-details h2{    font-size: 23px;}
    .hiring-process p{  line-height: 22px;}
    .innerpagebanner img.bimg {height: 260px;object-fit: cover;border-radius: 10px;}
    ul.industry-types.bullet li{font-size: 15px;}
    .buildnow-sec.solutionpage-subscribe .buildnow-row{    background-size: cover;}
}
@media screen and (max-width: 480px) {
	.industry-links ul.col {flex: 0 0 auto;width: 50%;padding: 0 0;}
	.industry-links ul li a{margin-top: 5px;margin-bottom: 5px;font-size: 12px;min-height: 20px;}
	.toplinksrow{padding:20px 0px;}
	.toplinksrow .accordion {padding: 0 5px;}
	
	.trustlogo ul {margin-top: 30px; justify-content: center;}

	.homebanner .bannerright .round{left: 10%;width: 250px;height: 250px;}
	.homebanner .bannerright .bannergirl1{width: 100px;height: 98px;}
	
	.homebanner .bannerright .bannerman2{left: 0;    top: 5%;}
	.homebanner .bannerright .bannergirl1 {top: 6%;}
	.homebanner .bannerright .bannertxtx {top: 38%;left: 0%;}
	.homebanner .bannerright img.manimg {left: -45px;}
	
	.bannercompanylogo .trust{padding-top: 30px;flex-wrap: wrap;}
	.clientnumber-box h6{width: 100%;margin-top: 15px;}
	.hireremotedev-left .hiringboxwrapper .hiringboxwrap{position: unset;}
	.navbar-collapse{width: 90%;}

	section {padding: 40px 0;}
	h1,.h1 {font-size:30px;} 
	h2,.h2 {font-size:23px;} 
	h3,.h3 {font-size:19px;} 
	h4,.h4 {font-size:17px;}
	.singleblog-box.innerpagebanner.careers-singlebanner h2 {font-size: 25px; }
	.toplinks-box ul.col, .toplinks-box {flex: 0 0 auto;    width: 100%;padding: 0;}
	.toplinksrow .toplinks-box h4{padding: 0;}
	.contactus .contact-right .button-control{flex-wrap: wrap;}
	.contactus .contact-right .button-control p{margin-top: 25px;}
	.companylogos .companylogos-box img {width: 100%;}
	.row {margin: 0 auto;}
	.companylogos .row, .technologies .row {margin: 0 auto;}
	.testimonial-box .testimonial-img {padding-right: 10px;}
	.testimonial-box .testimonial-img img {width: 55px;}

	.levelwork .nav-tabs .nav-link{margin: 0 10px;font-size: 16px;}

	.testimonial-roundwrap {width: 300px;height: 300px;}
	.technologies-logo {width: 100%;}
	.contactus .contact-left .round.rounded-circle{left: 30px;width: 280px;height: 280px;}

	.bannercompanylogo .trust h2{ font-size: 13px;}
	.bannercompanylogo .trust i{font-size: 18px;margin-right: 5px;width: 36px;height: 36px;}
	
	.copyright .copyright-left ul li a, .copyright .copyright-right p{font-size: 12px;}

	.testimonial-roundwrap .client-2 img {width: 65px;}
	.testimonial-roundwrap .client-4 img {width: 65px;}
	.testimonial-roundwrap .client-6 img, .testimonial-roundwrap .client-3 img { width: 55px;}
	.testimonial-roundwrap .testimonial-clients .active:before{width: 60px;height: 45px;}
	header .navbar-light .navbar-brand img{width: 120px;}
	.trustlogo ul li {flex: 0 0 auto;width: 50%;}

	.industry-links ul li{padding-left: 0;}
	footer.footercls .footer-left {    text-align: center;}
	.levelwork .card{padding: 20px 20px;}
	.trustlogo-slider{margin-top: 10px;}
	.trustlogo-slider .swiper-button{width: 30px;height: 30px;}
	.trustlogo-slider .swiper-button:after{font-size: 13px;}

	.servicelist-row, .servicelist-column {padding: 25px 20px;}
	.servicelistsec .iconul{flex-wrap: wrap;}
	.servicelistsec .iconul li{width: 50%;}
	.servicelist-row{margin-bottom: 15px;}
	ul.listul li{width: 100%;}
	.servicelistsec .common_btn {padding: 10px 23px;
    font-size: 14px;}
    .btn {font-size: 14px;    padding: 10px 23px;}
	.servicelistsec-five .tab-content .iconul li {
    padding-right: 10px;width: 50%;margin-right: 0;}
    .servicelist-rowmargin .col-xl-6 {padding: 0;}
    .innerpagebanner:after{width: 210px;height: 260px;bottom: 0px;right: 0px;}
    .servicelistsec-five .servicelist-img img {width: 40%;margin: 10px;}

    .servicelistsec .servicelist-wrapimg .servicelist-img img{ top: 100px; }
    .servicepage-counter .counter-column {width: 50%;}
    .servicepage-counter .clientnumber-box {text-align: left;margin-top: 0;}
    .servicepage-counter .clientnumber-box span.count.percent{font-size: 48px;}
    .servicepage-counter .clientnumber-box span.count.kvalue:after{font-size: 55px;}
    .servicepage-counter .clientnumber-box h6{font-size: 14px;line-height: normal;}

    .abouttestimonials-slider .testimonial-innerslider{padding: 40px 30px 30px;}

    .history-timeline progress{left: -70%;}
    .timeline-leftbox .timeline-box:after, .timeline-rightbox .timeline-box:after{left: -11px;
    top: 5px;}
    .timeline-box h2 {margin-bottom: 5px;}

    .careers-head h2{font-size: 28px;}
    .openings-wrap.row{margin: 0 auto;}
    .openings-box a{padding: 11px 15px;}
    .openings-box a i{font-size: 21px;}
    .openings-topbar.row {margin-bottom: 35px;}
    .openings-topbar .openings-leftbar, .openings-topbar .openings-rightbar{width: 100%;}
    .openings-topbar .openings-rightbar .text-right {text-align: center;}
    .openings-topbar .openings-leftbar .form-group {text-align: center;margin-bottom: 10px;}
    .innerpagebanner .row{margin:0 auto; }
    .openings-wrap.row .col-xl-6 { padding: 0; }
    .innerpage-rightbox .head { margin-bottom: 10px; }

    .singlecareers-form form .form-group{padding: 0;}
    .innerpagebanner.careers-singlebanner .hiringboxwrap .innerpage-rightbox-btn a.btn.common_btn.yellow {
    padding: 10px 16px;}
    .innerpagebanner.careers-singlebanner .hiringboxwrap .innerpage-rightbox-btn a.refer {
    margin-left: 4px;font-size: 11px;}

    .hire-container {padding: 50px 30px;border-radius: 0;}
    .hire-developers {padding: 0px 0 0px;}
    .faq-container{border-radius: 0;padding: 70px 20px;}
    .faq-accordian .accordion-item .accordion-header button.accordion-button{font-size: 18px;}
    .levelwork.levelworkhomepage {padding-top: 0px;}
    .innerpage-rightbox {padding: 20px;}
    .innerpagebanner {padding: 110px 0 130px;}
    .otherservices-sec .otherservices-box {padding: 25px;}
    .level-help .levelhelp-txt h2{font-size: 23px;}
    .testimonial-box .testimonial-txt .client-info .client-txt h6{font-size: 15px;}
    .testimonial-box .testimonial-txt .client-info .client-txt span {
    font-size: 14px;}

    .blog-container{padding:30px 10px;border-radius: 0;}
    nav ul.pagination a.page-link{width: 40px;font-size: 15px;height: 40px;}
    .blog-pagination {margin-top: 20px;}
    .bloglist { padding: 0px 0 30px; }

    .singleblog-quote{padding: 20px 10px;}
    .singleblog-quote i.fas.fa-quote-left{font-size: 75px;}
    .singleblog-quote-left h2 {font-size: 20px;}
    .singleblog-txt h3 {font-size: 20px;}

    .singleblog-topimg {margin-top: -140px;}
    .singleblog-quote-right img.quote {height: 70px;}

    .jointeam-section button.btn-close{font-size: 0;}
    .jointeam-section button.btn-close span {margin-right: 0;}
    .level-help:before{width: 270px;height: 270px;}
    .empower-business:before, .level-help:before{width: 330px;height: 340px;}

    .responsive-tabs .tab-pane .card-body {padding: 20px;}
    ul.industry-types.bullet li {font-size: 15px;margin-bottom: 10px;line-height: normal;}
    .responsive-tabs .card .collapse .card-body ul.industry-types.bullet {margin-bottom: 25px;}

    .responsive-tabs .tab-pane .img-box, .responsive-tabs .tab-pane .img-box img {
    height: 200px;}
    .industry-we-serve.ondemand-sec .ondemand-col{padding: 25px;}
    .innerpagebanner.solutionsinnerbanner .trust-wrapdiv .banner-righttop.innerpage-rightbox{
    	padding: 45px 40px;}
    .solution-txt h2{ font-size: 30px;}
    .caselistsec .tab-content, .caselistsec .tab-content .col-sm-12 {padding: 0;}
    .bloglist .blog-box.casestudy-box {margin-bottom: 35px;}
    .blog-box.casestudy-box .blog-boximg img {height: auto;}
    .casestudies-txt p, .challanges-row ul.bullet li { font-size: 15px; line-height: 26px;}
    .functionalities-row .functionalities-right h2, .casestudies-txt h2 {font-size: 25px;}
    .casestudy-head .swiper-arrows{top: 17px;}
    .casestudy-head h2 {padding-right: 50px;}
    .project-briefsec.servicelistsec .servicelist-wrapimg .servicelist-img img{top: 110px;}
    .project-briefsec .row .servicelist-txt{padding-bottom: 0;}

    .solutionspage-sec.development-offersec .industry-details h2{    font-size: 20px;}
    .hireinner-androidbanner .banner-righttop .android-box span.name{    font-size: 21px;}
    .bloglist.caselistsec .container {padding: 0 20px;}
    .solution-services .container.hire-container .hire-box h4 {height: auto;}
    .weprovideul ul.listul li { font-size: 17px;margin-bottom: 5px;}
    ul.bullet li{font-size: 17px; margin-bottom: 15px;}
    ul.bullet li:before{width: 15px;height: 15px;}
    .hireremotedev-left .hireremotedev-img1 img {width: 100%;height: 250px;
      border-radius: 10px;object-fit: cover;object-position: center;}
}

@media screen and (max-width: 360px) {
	.testimonial-roundwrap {width: 260px;height: 260px;}
	.contactus .contact-left .round.rounded-circle{width: 250px;height: 250px;}

	.homebanner .bannerright .bannergirl1 {width: 85px;height: 84px;}
	.homebanner .bannerright .bannerman2{width: 70px;height: 70px;}
	.homebanner .bannerright img {width: 100%;}
	.contactus .contact-left .contact-after img {width: 115px;}

	.innerpage-rightbox #innercounter .col-xl-6{width: 100%;}
	.careers-head h2 {font-size: 24px;}

	.file-upload-wrapper:before{top: 14px;background-size: 19px;width: 20px;}
	.file-upload-wrapper:after{padding: 10px 15px 10px 46px;font-size: 10px;}

	.testimonial-box .testimonial-img img {width: 40px;}
	.testimonial-box .testimonial-txt .client-info .client-img img {width: 45px;}
	.hire-box h4 {height: auto;}

	.responsive-tabs .tab-pane .img-box, .responsive-tabs .tab-pane .img-box img {
    height: 150px;}
}